#nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    margin: 10px;
}

.nav-container {
    width: 300px;
    height: 100vh;
    background: #fffffb;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
}

.nav-top {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    cursor: pointer;
    color: #854F1C;
    text-align: left;
    user-select: none;
}

.nav-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-item {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.nav-item.active {
    font-size: 26px;
    color: #000000;
    font-weight: bold;
}

.nav-item.active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
}

.nav-icon {
    margin-right: 12px;
    font-size: 1.3rem;
}


.nav-back {
    width: 40px;
    height: 40px;
    margin: 30px 0;
    cursor: pointer;
    display: block;
}
