body {
    background-color: #fffffb;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  margin-left: 400px;
}

.content-wrapper section {
  /* background-color: #fff; */
  padding: 28px 24px;
  border-radius: 14px;
  /* box-shadow: 0 2px 10px rgba(0,0,0,0.08); */
  /* transition: box-shadow 0.2s; */
}

.content-wrapper h3 {
  margin-top: 0;
  color: #854F1C;
  font-size: 1.45rem;
  margin-bottom: 14px;
}

.content-wrapper p {
  margin: 0;
  color: #222;
  font-size: 16px;
  line-height: 1.7;
}
