#detail-panel {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px;
    background: #fff;
    border-radius: 15px;
    padding: 20px 30px;
    font-family: Arial, sans-serif;
    border: 2px solid #8D8D8D;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    margin: 40px 0;
}

#detail-header {
    height: 80px;
    text-align: center;
    /* margin-bottom: 10px; */
    /* padding-bottom: 15px; */
    padding-top: 25px;
    /* border-bottom: 1px solid #e0e0e0; */
}

#detail-name {
    font-size: 22px;
    /* height: 60px; */
    color: #854F1C;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.2;
}

#detail-artist {
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

#detail-svg-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#detail-attributes {
    margin-top: 15px;
    line-height: 1.6;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribute-row {
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.attribute-name {
    text-align: left;
    font-weight: 600;
}

.attribute-value {
    text-align: right;
    font-weight: 500;
}

#detail-time {
    margin-top: 15px;
    padding-top: 15px;
    /* border-top: 1px solid #e0e0e0; */
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

#how-to-btn2,
#close-how-to-btn2 {
  display: block;
  padding: 10px 13px;
  border-radius: 30px;
  border: 0;
  background-color: #8D8D8D;
  color: #fff;
  margin: 0 auto;
}

#how-to-btn2:hover,
#close-how-to-btn2:hover {
  background: #6d6d6d;
}

#how-to-overlay2 {
  position: fixed;
  z-index: 2001;
  display: none; /* 기본은 숨김 */
  justify-content: center;
  align-items: center;
  /* width, height, top, left는 JS에서 동적으로 지정 */
}

.how-to-box2 {
  width: 90%;           /* detail-panel에 맞게 */
  height: 90%;
  max-width: 95vw;
  background: #ECECEC;
  border: 2px solid #8D8D8D;
  border-radius: 18px;
  padding: 40px 20px 30px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.how-to-legend-svg2 {
  max-width: 400px;
  width: 100%;
  margin-bottom: 22px;
}

#close-how-to-btn2 {
  position: static;   /* 또는 이 줄을 아예 지워도 됨 */
  display: block;
  margin: 0 auto 18px auto; /* 위-오른쪽-아래-왼쪽 */
}